* {
    box-sizing: border-box;
    border: chartreuse 1px solid;
    font-family: 'Open Sans', sans-serif;
}
/*-------------Body------------*/
body {
    height: 100%;
    width: 100%;
}
/*-------------Header-----------*/
header {
    height: 20%;
    width: 100%;
    background-color: #404041;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #dd1972;
}
span {
    font-weight: 300;
}

h3 {
    font-size: 20px;
    font-weight: 300px;
    color: #ffffff;
}
/*---------------left side--------*/
.left {
    height: 80%;
    width: 50%;
    background-color: #f7f7f7;
    border-right: #d0d2d3;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between; */
    /* margin: 10px; */
}
.set-range {
    font-size: 20px;
    font-weight: 300;
    color: #404041;
    margin: 10px;
}
.min-range, .max-range{
    font-size: 15px;
    font-size: 10px;
    color: #404041;
}
.update {
    font-size: 15px;
    color: #ffffff;
    background-color: #6e6e6e;
    border-radius: 25px;
    float: right;
}
.challengers {
    margin: 10px;
}
#number {
    text-decoration: underline;
    font-weight: bold;
}
.challengers h3 {
    color: #404041;
}
.challenger-name {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 75%;
}
.challenger-guess {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 25%;
}
.form-wrapper {
    display: flex;
    justify-content: space-between;
}
